<section id="vision" class="main-vision-container">
  <div class="vision-header-container">
    <h2>
      Who Are We
    </h2>
  </div>

  <div class="vision-card-container">
    <div class="vision-card-left-container">
      <div class="vision-icon-container vision-icon-left-background">
        <img src="/icon/vision_left_background-our_vision.svg" alt="Image of whitc background for light bulb icon" class="background-left-circle">
        <img src="/icon/bulb-icon_1.svg" alt="light bulb icon" class="inner-left-circle">
      </div>
      <div class="vision-title-container">
        <h3 class="vision-title-header">
          Our Vision
        </h3>
      </div>
      <div class="vision-paragraph-left-container">
        <p>
          We envision a world where individuals and communities can be educated about disease prevention and easily access essential healthcare services, regardless of socioeconomic status. 
        </p>
      </div>
    </div>
    <div class="vision-card-right-container">
      <div class="vision-icon-container vision-icon-right-background">
        <img src="/icon/vision_right_background-who_are_we.svg" alt="Image of purple background for target icon" class="background-right-circle">
        <img src="/icon/vision_right-target_icon.svg" alt="target icon" class="inner-right-circle">
      </div>
      <div class="vision-title-container">
        <h3>
          Mission Statement
        </h3>
      </div>
      <div class="vision-paragraph-right-container">
        <p>
          To reduce health inequality and promote health equity and well-being through targeted needs assessments and sustainable frameworks in underserved communities worldwide.
        </p>
      </div>
    </div>
  </div>
</section>

