

/*************** VISION MAIN CONTAINER ***************/
.main-vision-container {
  background-color: var(--app-white-background-color);
  padding-bottom: 60px;
}


/*************** VISION HEADER SECTION ***************/
.vision-header-container {
  background-color: var(--app-primary-color);
  height: 97px;
  margin: 0 0 50px 0;
}

.vision-header-container h2 {
  margin-left: 150px;
  padding-top: 30px;
}



/*************** VISION CARD SECTION ***************/
.vision-card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 4px;
}

.vision-card-left-container,
.vision-card-right-container {
  display: flex;
  flex-direction: column;
  max-width: 370px;
  border-radius: 13px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  background-color: var(--app-white-background-color);
  padding: 50px 30px;
}

.vision-card-right-container{
  margin-right: 300px;
  background-color: var(--app-white-background-color);
  color: var(--app-purple-color);
}

.vision-card-left-container {
  margin-left: 300px;
  background-color: var(--app-vision-card-background-color);
  color: var(--app-white-color);
}

.vision-icon-container {
  position: relative;   
  width: 80px;        
  height: 80px;
  display: flex;
  justify-content: center; // Centers content horizontally 
  align-items: center;     // Centers content vertically
  margin-bottom: 10px;
}

// .vision-icon-right-background {
//   background-color: var(--app-vision-card-background-color);
// }

// .vision-icon-left-background {
//   background-color: var(--app-white-background-color);
// }


// circular background
.background-left-circle,
.background-right-circle {
  width: 100%;
  height: 100%;
  //border-radius: 50%;     
  object-fit: contain;       
}


//image icon 
.inner-left-circle,
.inner-right-circle {
  height: 50px; 
  width: 50px;
  //border-radius: 50%;      
  object-fit: contain;
  position: absolute;       
}


.vision-title-container h3 {
  font-family: var(--subtitle-font);
  font-weight: 600;
  font-size: 28px;
  padding-bottom: 10px;
}

.vision-paragraph-left-container p,
.vision-paragraph-right-container p{
  font-family: var(--paragraph-font);
  font-weight: 400;
  font-size: 17px;
}

.vision-paragraph-left-container p {
  color: var(--app-white-color);
}

.vision-paragraph-right-container p {
  color: var(--app-black-color);
}


/* Styles for devices with a maximum width of 600px (e.g., smartphones) */
@media only screen and (max-width: 600px) {

  /*************** VISION MAIN CONTAINER ***************/
  .main-vision-container {
    background-color: var(--app-white-background-color);
    padding-bottom: 45px;
  }


  /*************** VISION HEADER SECTION ***************/
  //touch
  .vision-header-container {
    height: 70px;
    margin: 0 0 50px 0;
  }

  .vision-header-container h2 {
    margin-left: 150px;
    padding-top: 30px;
  }



  /*************** VISION CARD SECTION ***************/
  //touch
  .vision-card-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    //padding-bottom: 4px;
    margin: 0 5px;
  }

  //touch
  .vision-card-left-container,
  .vision-card-right-container {
    display: flex;
    flex-direction: column;
    //max-width: 370px;
    border-radius: 13px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    background-color: var(--app-white-background-color);
    //padding: 50px 30px;
  }

  //touch
  .vision-card-right-container{
    //margin-right: 300px;
    margin: 15px 4px 0 4px;
    color: var(--app-purple-color);
  }

  //touch
  .vision-card-left-container {
    //margin-left: 300px;
    margin: 0 4px 15px 4px;
    background-color: var(--app-vision-card-background-color);
    color: var(--app-white-color);
  }

  //touch
  .vision-icon-container {
    position: relative;   
    width: 50px;        
    height: 50px;
    display: flex;
    justify-content: center; // Centers content horizontally 
    align-items: center;     // Centers content vertically
    margin-bottom: 10px;
  }

  // .vision-icon-right-background {
  //   background-color: var(--app-vision-card-background-color);
  // }

  // .vision-icon-left-background {
  //   background-color: var(--app-white-background-color);
  // }


  // circular background
  //touch
  .background-left-circle,
  .background-right-circle {
    width: 100%;
    height: 100%;    
  }


  //image icon 
  //touch
  .inner-left-circle,
  .inner-right-circle {
    height: 40px; 
    width: 40px;     
  }


  //touch
  .vision-title-container h3 {
    font-size: 27px;
    padding-bottom: 10px;
  }

  //touch
  .vision-paragraph-left-container p,
  .vision-paragraph-right-container p{
    font-size: 14px;
  }

  .vision-paragraph-left-container p {
    color: var(--app-white-color);
  }

  .vision-paragraph-right-container p {
    color: var(--app-black-color);
  }

}


















