
#header {
  position: relative;
}

.main-header-container {
  display: flex;
  flex-direction: column;
  //height: 100vh;
}

.vector-image-container{
  position: absolute;
  top: 0;
  right: 0;
  height: 200px; 
  margin-top: 5px;
  z-index: 1;
}

.vector-image {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 16rem;
  background-image: url('/images/min/Vector_min.png');
  background-size: 221px 100px;
  background-repeat: repeat-y;
  mask-image: linear-gradient(to left, black, transparent);
  -webkit-mask-image: linear-gradient(to left, black, transparent);
}

/* Flex container for header */
.header-nav-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--header-container-width);
  margin: var(--container-centered);
  padding: 0 20px;
  z-index: 2
}

/* Logo styling */
.logo img {
  height: 50px; /* Adjust based on your logo's size */
}

// Default styles for larger screens
.nav-items {
  display: flex;
  // your other styles…
}

.nav-items ul {
  display: flex;
  list-style: none;
  padding: 0;
}

.nav-items li {
  position: relative;
  margin: 0 15px;
}

.nav-items a {
  display: inline-block;
  text-decoration: none;
  color: #333;
  padding: 4.5px 15px;
  display: block;
}

.nav-items  > ul > li >  a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3.5px;
  background-color: var(--button-background-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.nav-items  > ul > li >  a:hover::after {
  transform: scaleX(1);
}

/* Add bottom border on hover */
.nav-items  > ul > li >  a:hover {
  width: inherit;
  border-bottom: 3.5px solid var(--button-background-color); /* Solid black bottom border */
}

/* Change text color for active link */
.nav-items a:active {
  color: var(--button-background-color);
  border-bottom: none;
}


/* Dropdown menu default state */
.dropdown-menu {
  display: none;           /* Keep it hidden initially */
  position: absolute;
  top: 100%;               /* Positioned directly below the parent */
  left: 0;
  background-color: rgba(0, 0, 0, 0); /* Explicitly transparent background */
  box-shadow: none;  
  list-style: none;
  width: 200px;
  //box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  padding: 0;
  margin: 0;
  opacity: 0;              /* Completely transparent */
  transform: scaleY(0);    /* Collapsed vertically */
  transform-origin: top;   /* Animate from the top edge */
  transition: all 0.2s ease; /* Smooth transition for visibility and scale */
  z-index: 1000;
}


/* When the dropdown is active, add the "show" class */
.dropdown-menu.show {
  display: flex;
  flex-direction: column;
  opacity: 1;     
  transform: scaleY(1); 
}

/* Other dropdown styles remain the same */
.dropdown-menu li {
  margin: 5px 0;
  padding: 0 15px;
  width: inherit; /* Adjust width as needed */
}

.dropdown-menu a {
  font-family: var(--outfit-font);
  font-size: 20px;
  padding: 5px 5px;
  color: var(--app-primary-color);
  display: block;
  text-decoration: none;
}

.dropdown-menu a:hover {
  //background-color: #f1f1f1;
}

/* Style disabled items so they appear inactive */
.disabled a {
  opacity: 0.5;
  pointer-events: none; /* Prevent clicking on inactive items */
}


/* Call-to-action button styling */
.cta-button button {
  padding: 10px 20px;
  width: 148px;
  font-size: 20px;
  height: inherit;


  background-color: var(--app-white-color);         
  color: var(--app-black-color);                    
  border: 1px solid var(--button-background-color); 

  border-radius: 50px;
  cursor: pointer;
  transition: all 0.2s ease; 
}

.cta-button button:hover {
  // background-color: var(--app-white-color);         
  // color: var(--app-black-color);                    
  // border: 1px solid var(--button-background-color); 
  
  background-color: var(--button-background-color); 
  color: var(--app-white-color);
  border: none;
  
}



.sub-header-container{
  padding: 35px 0 8px 0;
  flex: 0;
}

.sub-header-content-container {
  display: flex;
  // justify-content: center;
  // align-items: center;   
  flex: 1;     
  margin: var(--container-centered);
  max-width: var(--header-container-width);
  width: 100%;
  padding: 0 20px;
}

.header-content-title-container {
  align-self: flex-start;
  flex-shrink: 0;
  flex-wrap: 1;
  //max-width: var(--content-title-container);
  width: 45%;
  margin: 75px 0 20px 0;
}

.header-content-image-container {
  position: relative;
  align-self: flex-start;
  flex: 1;
  //max-width: var(--content-title-container);
  width: 100%;
  height: auto;
  margin: 60px 0 0 0;
}

.elipse-image-container {
  padding-left: 50px;
}

.elipse-image-container img {
  display: block;
  width: 85%;
  height: 85%;
}

.header-content-title-maintitle-container{
  padding-bottom: 15px;
}

.header-content-title-subtitle-container {
  max-width: var(--content-title-subtitle-container);
}

.header-content-title-subtitle-container p {
  font-size: 22px;
}


/* Top Image */
.elipse-top-center-image-container {
  position: absolute;
  bottom: 99%;
  left: 10%;
  transform: translateY(99%);
  z-index: 3;
}

/* Left Image */
.elipse-right-top-image-container {
  position: absolute;
  top: 20%;
  left: 20%;
  transform: translateY(20%);
  z-index: 2;
}

/* Right Image */
.elipse-bottom-left-image-container {
  position: absolute;
  top: 30%;
  right: 40%;
  transform: translateY(25%);
  z-index: 1;
}

.elipse-bottom-right-image-container {
  position: absolute;
  top: 99%;
  left: 10%;
  transform: translate(20%) translateY(80%);
  z-index: 4;
}



/* Top Image - Smallest */
.elipse-top-center-image-container img {
  max-width: 150px; /* Adjust percentage as needed */
  height: 150px;
}


/* Right Image - Largest */
.elipse-right-top-image-container img {
  max-width: 250px; /* Adjust percentage as needed */
  height: 250px;
}

/* Left Image - Medium */
.elipse-bottom-left-image-container img {
  max-width: 400px; /* Adjust percentage as needed */
  height: 400px;
}

.elipse-bottom-right-image-container img {
  max-width: 290px; /* Adjust percentage as needed */
  height: 290px;
}

// Hide the hamburger icon on larger screens
.hamburger-icon {
  display: none;
  cursor: pointer;
}

// Media query for mobile screens
@media only screen and (max-width: 600px) {
  .main-header-container {
    height: calc(var(--vh) * 100);
    margin-bottom: 0;
  }

  .vector-image-container {
    height: 200px; 
    margin-top: 5px;
  }
  
  .vector-image {
    height: 50%;
    width: 15rem;
  }

  .logo img {
    height: 40px;
  }
  
  .hamburger-icon {
    display: block;
  }
  
  .nav-items {
    display: none;
  }

  .header-nav-container {
    z-index: 10;
  }

  .nav-items.open {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #fff;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 10px 0;
    height: 100vh;
    z-index: 8;
  }

  .nav-items.open ul {
    flex-direction: column;
  }
  
  .nav-items.open li {
    position: relative;
    margin: 10px 0;
  }

  .nav-items > ul > li > a:hover {
    background-color: transparent;
    border-bottom: none;
  }
  
  .nav-items > ul > li > a:hover::after {
    border-bottom: none;
    transform: none;
  }

  .nav-items.open > ul > li::after {
    content: "";
    display: block;
    width: 90%;
    height: 1px;
    background-color: #ccc;
    margin: 10px auto 0;
  }

  .dropdown-menu {
    display: block;
    position: relative;
    top: auto;
    left: auto;
    width: 100%;
    background-color: #fff;
    box-shadow: none;
    list-style: none;
    margin: 0;
    padding: 0;
    opacity: 1;
    transform: translateY(0);
    transition: none;
    z-index: 10;
  }

  .sub-header-container {
    padding: 20px 0 8px 0;
    flex: 0;
  }
  
  .sub-header-content-container {
    display: flex;
    flex: 1;
    margin: var(--container-centered);
    max-width: var(--header-mobile-container-width);
    width: 100%;
  }

  .cta-button {
    display: none;
  }

  .cta-button-mobile button {
    padding: 10px 20px;
    width: 106px;
    font-size: 13px;
    height: inherit;
    background-color: var(--app-white-color);
    color: var(--app-black-color);
    border: 1px solid var(--button-background-color);
    border-radius: 50px;
    margin-top: 10px;
    cursor: pointer;
    transition: all 0.2s ease;
  }
  
  .cta-button-mobile button:hover {
    background-color: var(--button-background-color);
    color: var(--app-white-color);
    border: none;
  }

  .sub-header-container {
    padding: 35px 0 8px 0;
    flex: 0;
  }
  
  .sub-header-content-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: var(--container-centered);
    max-width: var(--header-container-width);
    width: 100%;
  }

  .header-content-title-container {
    align-self: flex-start;
    //max-width: 100%;
    width: 100%;
    margin: 20px 0 20px 0;
    padding: 0 8px;
  }
  
  .header-content-title-maintitle-container {
    padding-bottom: 15px;
  }

  .header-content-title-maintitle-container h1 {
    font-size: var(--title-mobile-size);
    line-height: 1.1;
  }
  
  .header-content-title-subtitle-container p {
    font-size: 15px;
  }
  
  // .header-content-image-container {
  //   position: relative;
  //   //width: 100%;
  //   //height: 1%;
  //   align-self: flex-start;
  //   flex: 0;
  //   //max-width: var(--content-title-container);
  //   width: 100%;
  //   margin: -80px 0 0 20px;
  // }


  .header-content-image-container {
    display: flex;
    margin: 0 auto;
    width: 100%;
    height: 100%;
  }
  
  .elipse-image-container {
    display: flex;
    padding-left: 0;
    overflow: hidden;
  }
  
  .elipse-image-container img {
    display: block;
    width: 100%;
    height: 100%;
  }
  
  
  .elipse-top-center-image-container {
    position: absolute;
    bottom: 60%;
    left: 10%;
    transform: translateX(-25%) translateY(99%);
    z-index: 3;
  }
  
  .elipse-right-top-image-container {
    position: absolute;
    top: 20%;
    left: 20%;
    transform: translateX(60%) translateY(20%);
    z-index: 2;
  }
  
  .elipse-bottom-left-image-container {
    position: absolute;
    top: 0%;
    right: 40%;
    transform: translateX(35%) translateY(0.1%);
    z-index: 1;
  }
  
  .elipse-bottom-right-image-container {
    position: absolute;
    top: 15%;
    right: 40%;
    transform: translateX(16%) translateY(-4%);
    z-index: 4;
  }
  
  .elipse-top-center-image-container img {
    max-width: 150px;
    height: 150px;
  }
  
  .elipse-right-top-image-container img {
    max-width: 150px;
    height: 150px;
  }
  
  .elipse-bottom-left-image-container img {
    max-width: 250px;
    height: 250px;
  }
  
  .elipse-bottom-right-image-container img {
    display: none;
    max-width: 220px;
    height: 220px;
  }
}