<header id="header" class="main-header-container" [style.height]="headerHeight">
  <!-- Vector background image container -->
  <div class="vector-image-container">
    <div class="vector-image"></div>
  </div>

  <!-- sub header container -->
  <div class="sub-header-container">
    <div class="header-nav-container">
      <!-- Logo on the left -->
      <div class="logo">
        <img src="/logo/Group_14_shalach-logo.svg" alt="shalach foundation logo">
      </div>

      <!-- Hamburger menu icon (visible on mobile only) -->
      <div class="hamburger-icon">
        
        <button (click)="toggleMobileMenu()"
        type="button"
        class="inline-flex items-center justify-center p-2 rounded-md text-gray-700 hover:text-gray-900 focus:outline-none"
        aria-controls="mobile-menu"
        [attr.aria-expanded]="isMobileMenuOpen">
          <span class="sr-only">Open main menu</span>
          <!-- Hamburger icon: 3 bars when menu is closed -->
          <svg *ngIf="!isMobileMenuOpen" class="h-6 w-6" xmlns="http://www.w3.org/2000/svg"
              fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M4 6h16M4 12h16M4 18h16" />
          </svg>
          <!-- Close icon: "X" when menu is open -->
          <svg *ngIf="isMobileMenuOpen" class="h-6 w-6" xmlns="http://www.w3.org/2000/svg"
              fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>

      </div>
  
      <!-- Navigation items in the center -->
      <nav class="nav-items" appClickOutside (clickOutside)="closeDropdown()" [ngClass]="{'open': isMobileMenuOpen}">
        <ul>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" (click)="toggleDropdown($event)">About us</a>
            <ul class="dropdown-menu" [ngClass]="{ 'show': isDropdownOpen }">
              <li><a href="#">Overview</a></li>
              <li><a href="#">Our Team</a></li>
            </ul>
          </li>
          <li><a href="#">Our Work</a></li>
          <li><a href="#">Research</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Resources</a></li>
        </ul>
      </nav>
  
      <!-- Button on the right -->
      <div class="cta-button">
        <button>Contact Us</button>
      </div>
    </div>
  </div>

  <div class="sub-header-content-container">

    <!-- Header content text section -->
    <div class="header-content-title-container">
      <div class="header-content-title-maintitle-container">
        <h1>
          Bringing Hope, Changing Lives
        </h1>
      </div>
      <div class="header-content-title-subtitle-container">
        <p>
          Reduce health inequality and promote health equity and well-being through targeted needs assessments
        </p>
      </div>

      <!-- Button on the right -->
      <div class="cta-button-mobile" [hidden]="!isMobileWidth">
        <button>Contact Us</button>
      </div>
    </div>

    <!-- Header content image section - images are stacked over each other in a eclipse like structure -->
    <div class="header-content-image-container">
      <div class="elipse-top-center-image-container">
        <img src="/images/min/Ellipse 3 - image of a child and sibling_min.png" alt="image of a young boy with his sibling">
      </div>
      <div class="elipse-right-top-image-container">
        <img src="/images/min/Ellipse 2 - bending child_min.png" alt="image of a bending child">
      </div>
      <div class="elipse-bottom-left-image-container">
        <img src="/images/Ellipse 1 - women pounding grain.png" alt="image of women pounding grain">
      </div>
      <div class="elipse-bottom-right-image-container">
        <img src="/images/Reaching Text - reaching the end of the earth.png" alt="image of text reaching the end of the earth">
      </div>
    </div>
  </div>
</header>
