<section id="overview" class="overview-section">

  <div class="mission-container">

    <div class="our-mission-container">

      <div class="our-mission-card">
        <div class="our-mission-card-header">
          <h3>Our Mission</h3>
        </div>
        <div class="our-mission-card-content">
          <p>
            Our mission is to promote health equity by reaching targeted communities that are the least educated 
            about disease prevention and the most affected by 
            disease outbreaks.
            <br class="custom-br">
            We recognize that each underserved community 
            faces its unique health struggles and inadequacies. 
            We aim to conduct proper needs assessments and provide tailored solutions for each community.
            <br class="custom-br">
            We offer targeted interventions, education, and community empowerment to improve health 
            outcomes and reduce disparities.
            <br class="custom-br">
            We will enhance digital platforms to improve accessibility and streamline healthcare delivery processes.
            <br class="custom-br">
            We advocate for underserved communities, 
            prioritizing the protection of their health interests. 
            We are committed to ensuring that everyone is included in the pursuit of universal well-being.
          </p>
        </div>
      </div>

      <div class="our-mission-image">
        <span class="our-mission-image-one">
          <img class="image-one" src="/images/overview/Woman_with_micro-phone.png" alt="">
          <!-- <img class="image-two" src="/images/overview/reaching_to_the_end_of_the_earth-inner_circle.png" alt="">
          <img class="image-three" src="/images/overview/reaching_to_the_end_of_the_earth.png" alt=""> -->
        </span>
        <span class="our-mission-image-two">

        </span>
      </div>
    </div>

    <div class="what-who-why-container">
      <div class="what-who-why-image">
        <img src="/images/WHAT_WHO_WHY.svg" alt="">
      </div>

    </div>
  </div>

  <div class="core-value-container">

    <div class="core-value-header">
      <h3>Core Values</h3>
    </div>

    <div class="core-values-cards">
      <div class="core-values-cards-left">
        <div class="excellence-passion-integrity-cards">
          <h3>Excellence</h3>
          <p>We strive for outstanding performance in all programs and interventions, ensuring our processes are evidence-based and impactful.</p>
        </div>
        <div class="excellence-passion-integrity-cards">
          <h3>Passion</h3>
          <p>We are dedicated to bridging health gaps in underserved and vulnerable communities through sustainable healthcare solutions.</p>
        </div>
        <div class="excellence-passion-integrity-cards" style="gap: 10px;">
          <h3>Integrity</h3>
          <p>We uphold ethical standards and values, demonstrating honesty, accountability, and trustworthiness.</p>
        </div>
      </div>
      <div class="core-values-cards-right">

        <div class="collaboration-Advocacy-image">
          <img src="/images/Rectangle_120.png" alt="">
        </div>
        
        <div class="collaboration-advocacy-cards-container">
          <div  class="collaboration-Advocacy-cards">
            <h3>Collaboration</h3>
            <p>We believe in partnering with governments, organizations, and communities that share similar goals and values, both locally and internationally.</p>
          </div>
          <div  class="collaboration-Advocacy-cards">
            <h3>Advocacy</h3>
            <p>We aim to empower vulnerable populations by giving them a voice and the knowledge necessary to improve health outcomes.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
