<section id="overview" class="overview-section">

  <div class="mission-container">

    <div class="our-mission-container">

      <div class="our-mission-card">
        <div class="our-mission-card-header">
          <h3>Our Mission</h3>
        </div>
        <div class="our-mission-card-content">
          <p>
            Our mission is to promote health equity by reaching targeted communities that are the least educated 
            about disease prevention and the most affected by 
            disease outbreaks.
            <br class="custom-br">
            We recognize that each underserved community 
            faces its unique health struggles and inadequacies. 
            We aim to conduct proper needs assessments and provide tailored solutions for each community.
            <br class="custom-br">
            We offer targeted interventions, education, and community empowerment to improve health 
            outcomes and reduce disparities.
            <br class="custom-br">
            We will enhance digital platforms to improve accessibility and streamline healthcare delivery processes.
            <br class="custom-br">
            We advocate for underserved communities, 
            prioritizing the protection of their health interests. 
            We are committed to ensuring that everyone is included in the pursuit of universal well-being.
          </p>
        </div>
      </div>

      <div class="our-mission-image">
        <span class="our-mission-image-one">
          <img class="image-one" src="/images/overview/Woman_with_micro-phone.png" alt="">
          <!-- <img class="image-two" src="/images/overview/reaching_to_the_end_of_the_earth-inner_circle.png" alt="">
          <img class="image-three" src="/images/overview/reaching_to_the_end_of_the_earth.png" alt=""> -->
        </span>
        <span class="our-mission-image-two">

        </span>
      </div>
    </div>
  </div>
</section>
