
@mixin card-container-style {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 500px;
  border-radius: 25px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  padding-bottom: 4px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

@mixin visible-content-style {
  position: relative;
  margin-top: auto;
  align-self: flex-start;
  margin-left: 30px;
  margin-bottom: 20px;
  height: 160px;
  width: 170px;
  border: 2px solid var(--app-white-background-color);
  z-index: 1;
}

@mixin hidden-content-style {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0;
  z-index: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 40px;
}

@mixin bebas-font-style {
  font-family: var(--bebas-neue-font);
  font-weight: 700;
}

@mixin roboto-font-style {
  font-family: var(--paragraph-font);
  color: var(--app-white-color);
}


/***************  MAIN CONTAINER ***************/
.main-goal-container {
  position: relative;
  background-color: var(--app-white-background-color);
}

.united-nations-sdg-container {
  height: 100%;
  width: 98%;
  border-radius: 50px;
  background-color: var(--app-goals-background-color);
  margin: 0 auto;
  padding: 40px 200px 110px 200px;
  z-index: 2;
}

.goals-header-container {
  width: 1000px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 20px;
}

.goals-header-title-container {
  padding-bottom: 4px;
}

.goals-header-container .goals-header-title-container h2 {
  color: var(--app-goals-header-color);
  font-size: 50px;
  line-height: 1.3;
}

.goals-header-paragraph-container {
  width: 550px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 5px;
}

.goals-header-container .goals-header-paragraph-container p {
  font-family: var(--paragraph-font);
  font-weight: 600;
  font-size: 1.2rem;
  color: var(--app-black-color);
}


.goals-card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 1000px;
  padding: 10px 0;
}

.goals-card-left-container {
  background-image: url('/images/Rectangle_104-doctor_testing_a_patient.png');
  @include card-container-style;
  margin-right: 30px;
}

.goals-card-right-container {
  background-image: url('/images/Rectangle_105-a_man_helping_a_physically_challenge_person.png');
  @include card-container-style;
  margin-left: 30px;
}

.goal-left-visible-content-container {
  @include visible-content-style;
  background-color: rgba(120, 209, 113, 0.7);
}

.goal-right-visible-content-container {
  @include visible-content-style;
  background-color: rgba(224, 20, 131, 0.7);
}

.goal-left-hidden-content-container {
  @include hidden-content-style;
  background-color: rgba(120, 209, 113, 0.7);
}

.goal-right-hidden-content-container {
  @include hidden-content-style;
  background-color: rgba(224, 20, 131, 0.7);
}

.goal-visible-content-main-container {
  @include bebas-font-style;
  color: var(--app-white-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.goal-visible-content-main-container h3 {
 font-size: 35px;
 padding-left: 16px;
}

.goal-visible-content-main-paragraph {
  padding: 0 5px 0 8px;
  width: 88%;
  line-height: 1.2;
  z-index: 4;
}

.goal-visible-content-main-container .goal-visible-content-main-paragraph p {
  font-size: 13px;
}

.goal-visible-content-icon-container {
  margin: 0 auto;
}

.goal-visible-content-icon-container img {
  margin: 0 auto;
  height: 85px;
}

.h2-number-content-container {
  justify-content: start;
}

.h2-number-content-container h2{
  @include bebas-font-style;
  font-size: 60px;
  color: #ADAAA8;
}

.goal-number-content-container {
  justify-content: start;
}

.goal-number-content-container h3 {
  @include bebas-font-style;
  font-size: 40px;
  color: var(--app-white-color);
}

.goal-paragraph-content-container {
  justify-content: start;
}

.goal-paragraph-content-container p {
  @include roboto-font-style;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;

}

.goal-divider-content-container hr {
  border: none;
  height: 1.2px;
  margin: 14px 0;
  background-color: var(--app-white-color);
}

.goal-main-content-container {
  display: flex;
  flex-direction: column;
  align-items: start;

}

.card-goals-segment-1,
.card-goals-segment-2 {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-between;
  height: 100px
}

.card-goals-segment-cover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 120px;
  height: 100px;
}

.card-goals-segment-1 .card-goals-segment-cover h3,
.card-goals-segment-2 .card-goals-segment-cover h3 {
  @include bebas-font-style;
  font-size: 35px;
  color: var(--app-white-color);
  height: 100%;
  width: 100%;
}

.card-goals-segment-1 .card-goals-segment-cover p,
.card-goals-segment-2 .card-goals-segment-cover p {
  @include roboto-font-style;
  font-size: 16px;
  height: 100%;
  width: 100%;
}








