<footer id="footer" class="main-footer-container" [ngStyle]="{ 'margin-bottom': isHomePage ? 'auto' : 0 }">

  <div class="links-container">
    <div class="email-container">
      <span>
        <img src="/icon/envelope-icon.svg" alt="image of envelope icon">
      </span>
      <span>
        <a [attr.href]="'mailto:' + 'shalachglobal@gmail.com'">
          shalachglobal&#64;gmail.com
        </a>
      </span>
    </div>
    <div class="phone-container">
      <span>
        <img src="/icon/call-icon.svg" alt="image of call icon">
      </span>
      <span>
        <a href="tel:+2347063354678">07063354678</a><span style="color: var(--app-white-color);">, </span>
        <a href="tel:+2348117737094">08117737094</a>
      </span>
    </div>
  </div>

  <div class="social-media-container">
    <div class="footer-brand-logo-container">
      <img src="/logo/Group_15_shalach_logo.svg" alt="shalach purple logo image">
    </div>
    <div class="footer-year-container">
      <div>
        <img src="/icon/c-icon.svg" alt="copy right image icon">
      </div>
      <div class="footer-current-year">
        <p>{{ currentYear }}</p>
      </div>
    </div>
    <div class="footer-social-media-links-container">
      <div class="footer-facebook">
        <a href="https://www.facebook.com/share/18nNmqg65Z/" target="_blank" rel="noopener noreferrer">
          <img src="/icon/facebook-svgrepo-com_1.svg" alt="facebook image icon">
        </a>
      </div>
      <div class="footer-instagram">
        <a href="https://www.instagram.com/shalach_global?utm_source=qr/" target="_blank" rel="noopener noreferrer">
          <img src="/icon/instagram-icon.svg" alt="instagram image icon">
        </a>
      </div>
      <div class="footer-x">
        <a href="https://x.com/ShalachF?t=rnrpN1Sqc7ZvUihXRGR52w&s=09/" target="_blank" rel="noopener noreferrer">
          <img src="/icon/x-social-media-black-icon.svg" alt="x image icon">
        </a>
      </div>
      <div class="footer-linkedin">
        <a href="https://www.linkedin.com/company/shalach-empowerment-foundation/" target="_blank" rel="noopener noreferrer">
          <img src="/icon/linkedIn-icon.svg" alt="linkedin image icon">
        </a>
      </div>
    </div>
  </div>
</footer>

