/* You can add global styles to this file, and also import other style files */
// @import "tailwindcss";
// @use "tailwindcss" as *;

@tailwind base;
@tailwind components;
@tailwind utilities;


/*
ENTITIES
Period - &#46;
comma - &#44;
question mark - &#63;
*/

:root {

  --theme-color-1: #9A8F97;
  --theme-color-2: #E9E3E5;
  --theme-color-3: #2D2B2C;
  --theme-color-4: #9A8F97;
  --theme-separator-color:#F6F7F9;
  --hyperlinks-text-color: #121212;
  --hyperlinks-text-hover-color: #121212;
  --hyperlinks-underline: ;
  --highlight-text-color: #FFFFFF;
  --highlight-background-color: #121212;
  --rkpi-font-size: 100%;
  --button-border-radius: 2px;


  /*
  *
  * 
  *
  Shalach specific 
  *
  *
  *
  */

  --outfit-font: 'Outfit';
  --roboto-font: 'Roboto';
  --bebas-neue-font: 'Bebas Neue';
  --app-primary-color: #2AAAAB;
  --app-white-background-color: #FFFFFF;
  --app-purple-color: #542BC9;
  --app-purple-text-color: #322262;
  --app-white-color: #FFFFFF;
  --app-black-color: #000000;
  --app-vision-card-background-color: #542BC9;
  --app-goals-background-color: #C6F4F5;
  --app-goals-header-color: #575A5D;
  --app-goals-green-card-color: #78D171;
  --app-goals-pink-card-color: #E01483;
  --app-foot-purple-background-color: #322262;
  --container-centered: 0px auto;
  --header-container-width: 1390px;
  --header-medium-container-width: 1210px;
  --header-mobile-container-width: 600px;


  --content-title-container: 700px;
  --content-medium-title-container: 900px;
  --content-mobile-title-container: 400px;
  --content-title-subtitle-container: 500px;
  --content-medium-title-subtitle-container: 450px;
  --content-mobile-title-subtitle-container: 450px;



  /***** Heading one specific *****/
  --title-color: #121212;
  --title-font: 'Outfit';
  --title-weight: 700;
  --title-size: 85px;
  --title-medium-size: 64px;
  --title-mobile-size: 55px;

  --subtitle-color: #FFFFFF;
  --subtitle-font: 'Outfit';
  --subtitle-weight: 700;
  --subtitle-size: 40px;
  --subtitle-mobile-size: 24px;
  --subtitle-margin-bottom: 12px;

  /***** Heading one specific *****/
  --nav-text-color: #0D2B46;
  --nav-margin-bottom-hover-color: #0360D9;
  --nav-active-color:#0360D9;

  --button-background-color: #0360D9;
  --button-background-hover-color: #EEEEEE;
  --button-text-color: #FFFFFF;


  /***** Paragraph specific *****/
  --paragraph-header-color: #163048;
  --paragraph-white-color: #FFFFFF;
  --paragraph-black-color: #000000;
  --paragraph-font: 'Roboto';
  --paragraph-style: 400;
  --paragraph-size: 18px;
  --paragraph-mobile-size: 16px;
  --paragraph-margin-bottom: 12px;


  font-size: 16px;
}

body {
  font-family: var(--roboto-font), var(--outfit-font), "sans-serif";

  h1 {
    font-family: var(--outfit-font);
    line-height: 100px;
    color: var(--title-color);
    font-size: var(--title-size);
    font-weight: var(--title-weight);
  }

  h2 {
    font-family: var(--subtitle-font);
    color: var(--subtitle-color);
    font-size: var(--subtitle-size);
    font-weight: var(--subtitle-weight);
  }

  h3 {
    font-family: var(--subtitle-font);
    font-size: var(--subtitle-h3-size);
  }

  p {
    font-family: var(--paragraph-font);
    // color: #163048;
    // font-size: 18px;
    // font-weight: 400;
  }

  nav {
    font-family: var(--outfit-font);
    font-weight: 600;
    font-size: 20px;
  }
}

@layer base {

  @screen sm {
    body {
      //@apply text-lg font-bold;

      h1 {
        font-size: var(--title-mobile-size);
      }

      h2 {
        font-size: var(--subtitle-mobile-size);
      }

      p {
        font-size: var(--paragraph-mobile-size);
      }

    }
  }

  @screen md {
    body {
      
    }
  }
}



.container-custom {
  width: 98%;
  margin: 0 auto;
  //padding: 0 1rem; /* adjust as needed */
}

.section-subtle-gray {
  background-color: var(--theme-separator-color);
}

.section-main {
  //font-family: var(--title-font);
  //font-weight: var(--title-style);
  font-size: var(--title-size);
  color: var(--title-color);
}

.highlight-text {
  background-color: var(--highlight-background-color);
  color: var(--highlight-text-color);
}

.subtitle-color {
  color: var(--subtitle-color);
}

